# Large Data Files
*.root
*.ntuple
localAlignmentParamsFile.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env
.ipynb_checkpoints/

# ROOT/C++
*.so
*.d
*.pcm
*.pcm
*.dwo
*.o

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
memory/
ML_Ground_Truth_Hits.csv
GroundTruth_Making/*.csv

*_backup*
Simulations/dataset
labeled_*
*.log

CDB_offline/*
!cdb_manifest.yaml
!copy_cdb.sh
!generate_manifest.sh
!README.md

coresoftware/
macros-gcc12/
modern_macros/
sphenix_macros/

GroundTruth_Making/test_env
GroundTruth_Making/cluster_ml_env
GroundTruth_Making/*.yml